/* Navbar */
.navbar {
  position: relative;
  z-index: 2; /* Ensure navbar is above the banner */
  height: 60px;
}

/* CSS personnalisé pour la vidéo et le bouton */
.banner {
  position: relative;
  height: 61vh; /* Hauteur ajustée pour une meilleure visibilité */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */

}

.banner video {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  transform: translateY(-50%); /* Ajustement pour centrer verticalement */
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */

}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  width: 60%;
}

.banner-content h1 {
  font-size: 2.5em;
  color: #2C2E83;
  font-family: 'Inter', sans-serif; /* Utilisation de la police Inter */
}

.banner-content p {
  font-size: 1.2em;
  font-family: 'Inter', sans-serif; /* Utilisation de la police Inter */
}

.sign-up-form {
  margin-top: 20px; /* Réduire la marge */
}

#logo {
  height: 30px;
  margin-left: 40px;
}

.sign-up-form .form-control {
  flex: 1; /* Faire prendre tout l'espace disponible */
}

#query {
  border-radius: 25px;
  padding: 12px !important;
}

.nav-link {
  color: black !important;
}

/* Réglages pour le contenu principal */
main {
  padding: 10px;
  height: calc(30vh - 50px); /* Hauteur ajustée pour empêcher le scroll */
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', sans-serif; /* Utilisation de la police Inter */
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #353636;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1030; /* Z-index supérieur à celui du contenu */
}

/* Bouton pour aller au footer */
#scrollToBottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 999; /* Assurer que le bouton reste au-dessus du contenu */
}

#scrollToBottom:hover {
  background-color: #0056b3;
}

/* Contrôle de volume pour la vidéo */
input[type="range"] {
  width: 150px;
  margin-top: 10px;
}

/* Style pour le header fixé */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020; /* Z-index supérieur à celui de la bannière vidéo */
}

/* card personnalisé */
.service-junoox {
  position: fixed;
  top: 80px; /* Position en haut de la fenêtre avec un espace de 20px */
  right: 20px; /* Position à 20px de la droite de la fenêtre */
  z-index: 1000;
}

.rounded-card {
  border-radius: 25px;
  width: 18rem;
  z-index: 1000;
  max-height: 390px; /* Hauteur maximale de la carte */
  overflow-y: auto; /* Activer le défilement vertical */
  overflow-x: hidden;
  background-color: #e1e1e2;
}

.menu-footer {
  color: #fff !important; /* Text color */
  text-decoration: none !important; /* Remove underline */
  font-size: 16px !important; /* Slightly increased font size */
}

.menu-footer:hover {
  text-decoration: underline !important; /* Add underline on hover */
}

.left-links a:not(:last-child),
.right-links a:not(:last-child) {
  margin-right: 20px !important; /* Space between links */
}

.container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap !important; /* Allows wrapping for small screens */
}

.left-links,
.right-links {
  display: flex !important;
  flex-wrap: wrap !important;
}

.right-links {
  justify-content: flex-end !important;
}

.icon-size {
  width: 30px !important;
}

.apps-menu {
  color: black;
  overflow: hidden;
  display: inline-block;
  margin-left: -4px;
}

.portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 1;
  position: absolute;
  left: 12px;
  right: 12px;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  background: color-mix(in srgb, var(--background-color), transparent 10%);
  padding: 15px;
  bottom: 0;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  transition: 0.3s;
  line-height: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: var(--accent-color);
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 14px;
  font-size: 28px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.service-accueil{
  position: relative;
  transform: translate(0%, 25px);
}



/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}







@media (max-width: 768px) {
  
  #videoBanner{
    height: 60vh;
  }
  .banner {
    height: 60vh; /* Augmenter la hauteur de la bannière en version mobile */
  }

  .banner video {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); /* Ajustement pour centrer verticalement */
    object-fit: cover;
  }

  .banner-content {
    width: 100%; /* Ajuster la largeur du contenu de la bannière */
    top: 42%; /* Centrer le contenu verticalement */
    left: 50%; /* Centrer le contenu horizontalement */
    transform: translate(-50%, -50%); /* Assurer que le contenu est bien centré */
  }

  .banner-content h1 {
    font-size: 2em; /* Réduire la taille de la police du titre */
    margin-top: 0;
  }

  .banner-content p {
    font-size: 1em; /* Réduire la taille de la police du paragraphe */
  }

  .sign-up-form {
    margin-top: 170px !important;
  }

  .sign-up-form .form-control {
    flex: 1;
  }

  #query {
    padding: 8px; /* Réduire le padding de l'input de recherche */
  }

  #logo {
    height: 25px;
    margin-left: 1px !important;
  }

  .container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .right-links {
    justify-content: flex-start !important;
    margin-top: 10px !important;
  }

  .left-links a:not(:last-child),
  .right-links a:not(:last-child) {
    margin-right: 20px !important; /* Reduced space for smaller screens */
  }

  .service-accueil{
    position: relative;
    transform: translate(0%, -50px);
  }
}
