@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./button/services.css');
@import url('./button/standard.css');
@import url('./button/mail.css');


:root {
    --primary-color: #2c2e83;
    --secondary-color: #d10303;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5;
    font-variation-settings: "slnt" 0;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none!important;
}

body {
    width: 100%;
    height: 90vh;
    background-color: #f7f7f7 !important;
}

header {
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

header .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .navbar .navbar_logo {
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .navbar .navbar_logo img{
    width: 150px;
    height: 60%;
    object-fit: contain;
}

header .navbar .navbar_links {
    width: 70%;
    height: 100%;
    display: flex;

}

header .navbar .navbar_links .navbar_items {
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: flex-end;


}

header .navbar .navbar_links .navbar_items .navbar_services_links {
    width: 80%;
    display: flex;
    justify-content: flex-end;

}

/* header .navbar .navbar_links .navbar_items .navbar_services_links.active{
    color: var(--primary-color) !important;
    border-bottom: 1px solid var(--primary-color);
} */

header .navbar .navbar_links .navbar_items .navbar_item {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar .navbar_links .navbar_items .navbar_item#menu_dropdown_icon {
    display: none;
}

header .navbar .navbar_links .navbar_items .navbar_item#menu_dropdown_icon #close {
    display: none;
}

header .navbar .navbar_links .navbar_items .navbar_item .standard_button {
    margin-left: 15px;
}


header .navbar .navbar_links .navbar_item.services_collapse {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .navbar .navbar_links .navbar_item.services_collapse .icon_collapse {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .navbar .navbar_links .navbar_item.services_collapse .icon_collapse img {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .search_engine {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}


main .search_engine .engine_logo {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .search_engine .engine_logo .logo_animate {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 0px !important;
}

main .search_engine .engine_logo .logo_animate img {
    width: fit-content;
    height: 65%;
    object-fit: contain;
    margin: 5px;
}

main .search_engine .engine_input_search {
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .search_engine .engine_input_search .search_engine_form {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .search_engine .engine_input_search .search_engine_form .input_frame {
    width: 80%;
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .search_engine .engine_input_search .search_engine_form .search-titre {
    display: flex;
    margin-left: 10px;
    /* Espacement à gauche du titre de recherche */
    flex: 1;
    /* Le titre prend tout l'espace disponible */
    width: 100%;
    margin-bottom: 25px;
}


main .search_engine .engine_input_search .search_engine_form .input_frame .search_icon {
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-right: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff !important;
}

main .search_engine .engine_input_search .search_engine_form .input_frame .search_icon img {
    width: 70%;
    height: 70%;
}

main .search_engine .engine_input_search .search_engine_form .input_frame .input_frame_search {
    width: 60%;
    height: 50%;
    border: 1px solid rgb(192, 192, 192);
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
}

.engine_logo h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 0.8rem;
}

main .search_engine .engine_input_search .search_engine_form .input_frame .search_image_icon {
    width: 10%;
    height: 50%;
    border: 1px solid rgb(192, 192, 192);
    border-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff !important;
}

main .products {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .products .content {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .products .content .product {
    width: 25%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

main .products .content .product:hover {
    transform: scale(0.85);
    transition: 0.3s ease-in-out;
}

main .products .content .product .product_image {
    width: 100%;
    height: 80%;
    transition: 0.5s ease-in-out;

}

main .products .content .product .product_image:hover {
    transform: rotate(5deg);
    transition: 0.5s ease-in-out;
}

main .products .content .product .product_image a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .products .content .product .product_image a img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

main .products .content .product .product_name {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}


main .products .content .product .product_name h4 a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #353636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 199;
}

footer .footer-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .footer-container .left-links-footer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-container .left-links-footer a {
    color: white;
    font-size: 15px;
    margin-left: 15px !important;
}

footer .footer-container .right-links-footer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-container .right-links-footer a {
    color: white;
    font-size: 15px;
    margin-right: 15px !important;
}


.menu-footer:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {
    
    header .navbar .navbar_links {
        width: 100%;
    }

    header .navbar .navbar_links .navbar_item {
        width: 50%;
    }

    header .navbar .navbar_links .navbar_items .navbar_items.services {
        display: none;
    }

    header .navbar .navbar_links .navbar_item.services_collapse .icon_collapse {
        display: flex;
        justify-content: flex-end;
    }

    main .search_engine .engine_logo {
        width: 80%;
    }

    /* main .search_engine .engine_logo img{
        width: 50%;
        height: 50%;
    } */


    main .search_engine .engine_logo .logo_animate {
        padding-right: 110px;

        & img {
            width: fit-content;
            height: 15%;
            object-fit: contain;
            margin: 0.1rem;
        }
    }

    main .search_engine .engine_input_search {
        width: 100%;
        height: 30%;
    }

    main .search_engine .engine_input_search .search_engine_form {
        width: 100%;
    }

    main .search_engine .engine_input_search .search_engine_form .input_frame {
        width: 100%;
        height: 80%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        /* 2 colonnes sur écrans plus petits */
    }
}