@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./button/services.css');
@import url('./button/standard.css');
@import url('./button/mail.css');


:root {
    --primary-color: #2c2e83;
    --secondary-color: #d10303;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5;
    font-variation-settings: "slnt" 0;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none!important;
}

body {
    width: 100%;
    height: 90vh;
    background-color: #f7f7f7 !important;

}

header {
    width: 100%;
    height: 10vh;
    border: 1px solid red;
    overflow: hidden;
}

header .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

header .navbar .navbar_logo {
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

header .navbar .navbar_logo img{
    width: 150px;
    height: 60%;
    object-fit: contain;

}

header .navbar .navbar_links {
    width: 70%;
    height: 100%;
    display: flex;
    border: 1px solid red;
}

header .navbar .navbar_links .navbar_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
}

header .navbar .navbar_links .navbar_items .navbar_item {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    & a.standard_button {
        margin-left: 1.5rem;
    }
}

header .navbar .navbar_links .navbar_item.services_collapse {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

header .navbar .navbar_links .navbar_item.services_collapse .icon_collapse {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
    & img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        cursor: pointer;
        border: 1px solid red;
    }
}


main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .search_engine {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


main .search_engine .engine_logo {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .search_engine .engine_logo .logo_animate {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 0px !important;
    & img {
        width: fit-content;
        height: 65%;
        object-fit: contain;
        margin: 0.12rem;
    }
}

main .search_engine .engine_input_search {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .search_engine .engine_input_search .search_engine_form {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .search_engine .engine_input_search .search_engine_form .input_frame {
    width: 80%;
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .search_engine .engine_input_search .search_engine_form .search-titre {
    display: flex;
    margin-left: 10px;
    /* Espacement à gauche du titre de recherche */
    flex: 1;
    /* Le titre prend tout l'espace disponible */
    width: 100%;
    margin-bottom: 25px;
}


main .search_engine .engine_input_search .search_engine_form .input_frame .search_icon {
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-right: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff !important;
}

main .search_engine .engine_input_search .search_engine_form .input_frame .search_icon svg {
    width: 50%;
    height: 50%;
    cursor: progress;
    transform: rotateY(90deg);
}

main .search_engine .engine_input_search .search_engine_form .input_frame .input_frame_search {
    width: 60%;
    height: 50%;
    border: 1px solid rgb(192, 192, 192);
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
}

.engine_logo h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 0.8rem;
}

main .search_engine .engine_input_search .search_engine_form .input_frame .search_image_icon {
    width: 10%;
    height: 50%;
    border: 1px solid rgb(192, 192, 192);
    border-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff !important;
}

main .products {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .products .products_collapse {
    width: 100%;
    height: 100%;
    /* Ajuster la hauteur selon vos besoins */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Aligner les éléments au centre */
}

main .products .products_collapse .show_products {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
    margin-bottom: 5px;
    /* Espacer les éléments */
    width: 15%;
    text-align: center;
    padding: 10px;
    color: white
}

main .products .products_collapse .collapsible {
    margin-bottom: 10px;
    /* Espacer les éléments */
}

/* collapse */
.collapsible {
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

}



.content {
    padding: 18px;
    overflow-y: auto;
    max-height: 900px;
    /* Hauteur maximale du contenu avant le défilement */
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    /* Pour inclure le padding dans la largeur */
}


.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); 3 colonnes de taille égale */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    /* Espacement entre les éléments */
    background-color: #f1f1f1;
}

.item {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ombre légère pour chaque carte */
    max-width: 80%;
    margin-left: auto;
    /* Marge à gauche */
    margin-right: auto;
    /* Marge à droite */
    margin-top: 10px;
}

.item img {
    max-width: 100%;
    /* Image ajustée pour ne pas dépasser la largeur de son conteneur */
    height: auto;
    /* Hauteur automatique en fonction de la largeur */
    margin-bottom: 10px;
    /* Espacement sous l'image */
}

.item a img {
    max-width: 100%;
    height: 150px;
    /* Hauteur fixe pour toutes les images */
    object-fit: cover;
    /* Ajuste la taille de l'image tout en conservant son ratio */
    border-radius: 8px;
    /* Coins arrondis pour l'image */
    margin-bottom: 10px;
    /* Espacement sous l'image */
}

.item a p {
    font-size: 0.9em;
    text-align: center;
}



.item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.item p {
    font-size: 16px;
    color: #110f0f;
}





/* modal service */

/* Modal */
#modalService {
    display: none;
    /* Caché par défaut */
    position: fixed;
    /* Position fixe pour rester au-dessus du contenu */
    z-index: 1000;
    /* Assure que le modal est au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%;
    /* Prend tout l'espace horizontal */
    height: 100%;
    /* Prend tout l'espace vertical */
    overflow: auto;
    /* Permet de scroller si le contenu du modal est trop grand */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
}

/* Contenu du modal */
.modal-content-service {
    background-color: #fefefe;
    /* Couleur de fond du contenu du modal */
    margin: 5% auto;
    /* Centrer verticalement et horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    /* Largeur du contenu du modal */
    max-width: 600px;
    /* Largeur maximale du contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: justify;
    /* Justifier le texte */

}

/* Image dans le modal */
.modal-content-service img {
    max-width: 100%;
    /* Image ne dépasse pas la largeur du modal */
    height: auto;
    /* Hauteur automatique selon la largeur */
    margin-bottom: 20px;
    /* Espacement en dessous de l'image */
}

#modalText {
    text-align: center;
    /* Centrer le texte à l'intérieur du div */
    margin-bottom: 20px;
    /* Espacement en dessous du texte */
}



.modal-prev,
.modal-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Fond semi-transparent */
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #333;
    outline: none;
    transition: background-color 0.3s ease;
}

.modal-prev {
    left: 10px;
}

.modal-next {
    right: 10px;
}

.modal-prev:hover,
.modal-next:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Couleur de fond au survol */
}


/* Bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 1px;
    top: 0px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #353636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 199;
}

footer .footer-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .footer-container .left-links-footer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

footer .footer-container .left-links-footer a {
    color: white;
    font-size: 15px;
}

footer .footer-container .right-links-footer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .footer-container .right-links-footer a {
    color: white;
    font-size: 15px;
}


.menu-footer:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {
    header .navbar .navbar_links {
        width: 100%;
    }

    header .navbar .navbar_links .navbar_item {
        width: 50%;
    }

    header .navbar .navbar_links .navbar_items .navbar_item:nth-child(1) {
        display: none;
    }

    header .navbar .navbar_links .navbar_item.services_collapse .icon_collapse {
        display: flex;
        justify-content: flex-end;
    }

    main .search_engine .engine_logo {
        width: 80%;
    }

    /* main .search_engine .engine_logo img{
        width: 50%;
        height: 50%;
    } */


    main .search_engine .engine_logo .logo_animate {
        padding-right: 110px;

        & img {
            width: fit-content;
            height: 15%;
            object-fit: contain;
            margin: 0.1rem;
        }
    }

    main .search_engine .engine_input_search {
        width: 100%;
        height: 30%;
    }

    main .search_engine .engine_input_search .search_engine_form {
        width: 100%;
    }

    main .search_engine .engine_input_search .search_engine_form .input_frame {
        width: 100%;
        height: 80%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        /* 2 colonnes sur écrans plus petits */
    }
}