.button_mail {
    background-image: linear-gradient(#2c2e83, #0d70ea) !important;
    border: 0 !important;
    border-radius: 4px !important;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px !important;
    box-sizing: border-box !important;
    color: #fff !important;
    cursor: pointer !important;
    font-family: Montserrat, sans-serif !important;
    font-size: .9em !important;
    padding: 10px 15px !important;
    text-align: center !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
}

.button_mail:hover {
    background-image: linear-gradient(#d10303, #0d70ea) !important;
    box-sizing: border-box;
    color: #fff;
  }
