.standard_button {
  background-image: linear-gradient(#2c2e83, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s ease-in-out;
}

.standard_button:hover, .standard_button.active:hover {
  background-image: linear-gradient(#d10303, #2680ed);
  box-sizing: border-box;
  color: #fff;
  transform: scale(0.95);
  transition: 0.3s ease-in-out;
}

.standard_button.active {
  background-image: linear-gradient(#d10303, #2680ed);
}

