@import url('./standard.css');

main .about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;;
}

main .about_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .about_title .text_zone {
  width: 90%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .about_title .text_zone .title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 34px;
  color: var(--primary-color);
}

main .about_title .text_zone .text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 12px;
  line-height: 24px;
}


main .about .about_item {
    width: 28%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .about .about_item .item_content {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.052) 0px 4px 12px;
}

main .about .about_item .item_content .icon {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

main .about .about_item .item_content .icon span {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(255, 167, 167, 0.23);
    transition: 0.4s ease-in-out;
}

main .about .about_item .item_content .icon span:hover {
    background-color: rgba(252, 125, 125, 0.866);
    transition: 0.4s ease-in-out;
}

main .about .about_item .item_content .icon span:hover svg{
    fill: #fff;
    transition: 0.4s ease-in-out;
}

main .about .about_item .item_content .icon span svg {
    width: 30px;
    height: 30px;
}

main .about .about_item .item_content .text {
    width: 100%;
    height: 55%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

main .about .about_item .item_content .text h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -1px;
    color: var(--primary-color);
}

main .about .about_item .item_content .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    margin-top: 15px;
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.about_services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0 50px;
  }
  
  .about_services h5 {
    font-size: 25px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about_services_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
  }
  
  .services_item {
    width: 45%; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item_content {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px;
    transition: transform 0.3s ease;
  }
  
  .item_content:hover {
    transform: translateY(-10px);
  }
  
  .icon {
    flex: 0 0 50px;
    margin-right: 10px;
  }
  
  .icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(242, 90, 90, 0.1);
    border-radius: 50%;
  }
  

  .icon span:hover svg{
    fill: #fff;
    transition: 0.4s ease-in-out;
  }

 .icon span:hover {
    background-color: rgba(252, 125, 125, 0.866);
    transition: 0.4s ease-in-out;
 }


 
  .text p {
    font-size: 14px;
    color: #666;
  }
  